html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 16px/28px Poppins, sans-serif;
  background-color: #141414;
  color: white;
}

.container {
  width: 100%;
  padding: 1% 5% 1% 5%;
  margin: auto;
  background-color: #141414;
  box-sizing: border-box;
}

.header {
  padding: 2% 6% 0 0;
  background-color: #141414;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  top: 0;
  box-sizing: border-box;
  z-index: 99;
}

.header .logo {
  font-size: 33px;
  color: white;
  font-family: "Righteous", sans-serif;
  margin-right: 1%;
  margin-top: -4px;
}

.header .logo span {
  color: red;
}

.header ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header ul li {
  display: inline-block;
}

.header a,
.header p {
  text-decoration: none;
  color: white;
}

.header .more {
  display: flex;
}

.header span {
  font-size: 30px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 2px;
}

.header a:hover {
  color: #6c6c6c;
}

.hero {
  height: 552px;
  background-image: url(../img/3spiders.jpg);
  background-size: cover;
  background-position: -60px 0;
  border-bottom: 5px solid rgb(23, 23, 213);
}

.content .logo2 {
  display: inline-block;
  position: absolute;
  font-family: "Righteous", sans-serif;
  font-size: 110px;
  color: rgba(69, 69, 69, 0.426);
  margin-top: 283px;
  margin-left: -322px;
  opacity: 80%;
  rotate: -90deg;
  z-index: 1;
}

.content1 {
  padding: 15px;
  color: white;
  width: 60%;
  float: left;
  box-sizing: border-box;
}

.content1 h2 {
  font-family: "Righteous", sans-serif;
  line-height: 0.9;
  font-size: 67px;
  margin-top: -43px;
  margin-left: 5px;
}

.content1 .penulis {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 11px;
}

.content1 .penulis a {
  font-size: 11px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
.content1 .penulis a:hover {
  color: #6c6c6c;
}

.content1 p {
  margin-bottom: 15px;
  font-size: 13px;
  text-align: justify;
}

.content1 h3 {
  font-size: 23px;
  font-weight: 700;
}

.content1 h4 {
  font-size: 17px;
  margin-top: 10px;
  font-weight: 600;
}

.content1 ul li {
  margin-left: 15px;
  font-size: 14px;
  list-style: disc;
}

.content2 {
  box-sizing: border-box;
  width: 40%;
  float: right;
  padding: 15px;
}

.content .content2 .top-stories {
  color: rgb(0, 255, 183);
  margin-left: 50px;
  font-size: 17px;
  margin-bottom: 15px;
}

.content .text {
  width: 370px;
}

.content2 .news1,
.content2 .news2,
.content2 .news3,
.content2 .news4,
.content2 .news5,
.content2 .news6 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content2 .news1 h3,
.content2 .news2 h3,
.content2 .news3 h3,
.content2 .news4 h3,
.content2 .news5 h3,
.content2 .news6 h3 {
  font-size: 11px;
  margin-right: 6px;
}

.content2 .news1 a,
.content2 .news2 a,
.content2 .news3 a,
.content2 .news4 a,
.content2 .news5 a,
.content2 .news6 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.content2 .news1 a:hover,
.content2 .news2 a:hover,
.content2 .news3 a:hover,
.content2 .news4 a:hover,
.content2 .news5 a:hover,
.content2 .news6 a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 183);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.content2 .news1 h3 i,
.content2 .news2 h3 i,
.content2 .news3 h3 i,
.content2 .news4 h3 i,
.content2 .news5 h3 i,
.content2 .news6 h3 i {
  margin-top: 10px;
}

.content2 .news2 a {
  margin-top: -25px;
  display: inline-block;
  width: 320px;
}

.content2 .most-popular {
  background-color: rgb(23, 23, 213);
  border-radius: 13px;
  padding: 20px;
  box-sizing: border-box;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.content2 .most-popular h1 {
  font-size: 13px;
  margin: 0px 0 20px 15px;
  font-weight: 600;
}

.content2 .most-popular h2 {
  display: block;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 800;
  color: rgba(69, 69, 69, 0.426);
  margin-top: -250px;
  margin-right: -129.5px;
  right: 0;
  opacity: 80%;
  rotate: -90deg;
  z-index: 1;
}

.content2 .most1,
.content2 .most2,
.content2 .most3,
.content2 .most4,
.content2 .most5 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 380px;
}

.content2 .most1 h3,
.content2 .most2 h3,
.content2 .most3 h3,
.content2 .most4 h3,
.content2 .most5 h3 {
  font-size: 11px;
  margin-right: 6px;
}

.content2 .most1 a,
.content2 .most2 a,
.content2 .most3 a,
.content2 .most4 a,
.content2 .most5 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.content2 .most1 a:hover,
.content2 .most2 a:hover,
.content2 .most3 a:hover,
.content2 .most4 a:hover,
.content2 .most5 a:hover {
  color: rgb(0, 255, 183);
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

.content2 .most1 h3 i,
.content2 .most2 h3 i,
.content2 .most3 h3 i,
.content2 .most4 h3 i,
.content2 .most5 h3 i {
  margin-top: 10px;
}

.content2 .most1 .text,
.content2 .most2 .text,
.content2 .most3 .text,
.content2 .most4 .text,
.content2 .most5 .text {
  margin-top: -7px;
}

.content2 .number,
.content2 .number-most {
  background-color: #333333;
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  margin-top: -72px;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content2 .number-most {
  margin-left: 15px;
  margin-bottom: -10px;
  height: 23px;
  width: 26px;
  line-height: 23px;
  color: rgb(255, 255, 255);
}

.content2 .written {
  display: flex;
}

.content2 .nameWritten {
  color: rgb(0, 255, 183);
}

.content2 img {
  width: 100px;
}

.footer {
  width: 100%;
  background-color: #141414;
  box-sizing: border-box;
  padding: 20px;
}

.footer .copyright {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}

/* Clear FIx */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
